streamlit==1.34.0
python-dotenv==1.0.1
langchain==0.1.19
langchain-anthropic==0.1.11
langchain-community==0.0.38
langchain-voyageai==0.1.0
faiss-cpu==1.8.0
tqdm==4.66.4
bs4==0.0.2
requests==2.32.2
better_profanity==0.7.0
flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0