div.chat-widget-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
}

div.chat-widget-button.chat-widget-active {
    display: block;
    height: 75px;
    width: 75px;
}

div.chat-widget-button button {
    background-color: #26374A;
    border-radius: 50%;
    border: none;
    height: 100%;
    width: 100%;
}

div.chat-widget-button button img {
    width: 75%;
    height: 75%;
}

div.chat-widget-modal {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    height: 500px;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border: solid 2px;
}

div.chat-widget-modal.chat-widget-active {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.chat-widget-modal .chat-widget-modal-title {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: #26374A;
    border-radius: 8px 8px 0px 0px;
}

.chat-widget-modal .chat-widget-modal-title h3 {
    margin: 0px;
    color: #FFF;
}

.chat-widget-modal .chat-widget-modal-body {
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-widget-modal button.chat-widget-exit {
    position: absolute;
    top: 9px;
    right: 9px;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.chat-widget-modal textarea.chat-widget-input {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    margin: 6px 0px;
    border: solid 2px;
    font-size: 15px;
}

.chat-widget-modal button.chat-widget-submit {
    background-color: #26374A;
    color: white;
    padding: 4px 26px;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

.chat-widget-br {
    height: 20px;
}

.chat-widget-modal div.chat-widget-result {
    margin-bottom: 25px;
}

.chat-widget-modal input.chat-widget-checkbox {
    margin-right: 10px;
}

.chat-widget-modal label.chat-widget-label {
    font-weight: normal;
    display: inline;
    margin-bottom: 10px;
}